/* sass variables */
$main-color: #ff0000;
$primary-color: green ;
$main-font: Roboto, sans-serif;
$main-font-size: 20px;
$main-font-color: #ffffff;
$main-font-family: $main-font;
$main-font-weight: normal;