@import "sass/colors";
@import "sass/footer";
@import "sass/header";
@import "sass/variables";
h1 {
  color: $main-color;
}
/* sass nesting */
nav {
  ul {
    border: none;
    li {
      padding: 10px 20px;
      a {
        color: $main-color;
        font-size: 20px;
        font-family: $main-font;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

section {
  background-color: $main-color;
  padding: 20px;
  h1 {
    color: $main-font-color;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
  }
  &::selection {
    background-color: $main-color;
    color: $main-font-color;
  }
}
@mixin border-radius($value: 10px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
// @mixin box-shadow($top, $left, $blur, $color) {
//   -webkit-box-shadow: $top, $left, $blur, $color;
//   -moz-box-shadow: $top, $left, $blur, $color;
//   box-shadow: $top, $left, $blur, $color;
// }
button {
  width: 200px;
  background-color: $main-color;
  border: none;
  padding: 10px 20px;
  @include border-radius(10px);
//   @include box-shadow(0px , 0px , 10px , green); 
}