@import 'sass/colors';
@import 'sass/footer';
@import 'sass/header';
@import 'sass/variables';
h1{
    color: $red-color;
}
/* sass nesting */
nav{
    ul{
        border: none;
        li{
            padding: 10px 20px;
            a{
                color: $border-color;
                font-size: 20px;
                font-family: $main-font;
                &:hover{
                    color: $red-color;
                }
            }
        }
    }
}

section{
    background-color: $main-color;
    padding: 20px;
    h1{
        color: $main-font-color;
        font-size: $main-font-size;
        font-family: $main-font;
        font-weight: $main-font-weight;
    }
    &::selection{
        background-color: $main-color;
        color: $main-font-color;
    }
}